@charset "UTF-8";

body {
	background:#ebecee;
}

.indexContent .login-form {
	padding: 10px;
}

.indexContent .login-form .input-group-sm {
	margin-bottom: 5px;
}

.indexContent .login-form .checkbox {
	color: gray;
}

.indexContent .nav .active {
	font-weight: bold;
}

.indexContent .media-left img {
	width: 54px;
}

.indexContent .media {
	border-bottom: 1px solid lightgray;
}

.indexContent .tags {
	color: #999;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
	padding-bottom: 4px;
}

.indexContent .tags:nth-child(2):before {
	content: '';
	padding-right: 0px;
}

.indexContent .tags:before {
	content: '\b7\a0';
	padding-right: 1px;
}

.indexContent .conten {
	background: #fff;
	border-radius: 5px
}

.indexContent .media-heading {
	font-size: 16px;
}

.indexContent .media-heading a {
	color: #333;
	font-weight: bold;
}

.indexContent .media-body .glyphicon {
	color: #999;
	font-size: 12px;
}
.indexContent .smFont{
	font-size:11px;	
}

#MemberChoice li{
	width:50%;
	text-align:center;	
}
#memMenu{
	text-align:center;	
}

#footerBtn1,#footerBtn2{
	background-color:#ebecee;	
}
