@charset "UTF-8";
div{
	margin:0;
	padding:0;
	font-size:13px;
	text-align: left;
}
li,ul{
	list-style-type: none;
	list-style: none;
	margin:0px; 
	padding:0px;
}
li{
	padding-left:2em;
}
h3{
	margin: 0;
	padding-left:30px;
	text-align: left;
	font-size:1.5em;
}
.talentedsearchcontainer{
	position: relative;
	overflow-y:auto;
	overflow-x:hidden;
	background:white;
	width: 1300px;
	border: 1px solid #b8b8b8;
	margin: auto;
	padding: auto;
}
.TScontent{
	position:relative;
	margin-top:45px;
	width:100%;
}
.TSarea{
	position: relative;
	margin:0;
	padding:0;
	display: block;
	text-align: center;
}
.TSpanel{
	display: block;
	width:100%;
	border-top: 2px solid #C1C1C1;
}
.TSoption{
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.TSoption>div{
	position:relative;
	display: inline-block;
}
.TSoption>h3{
	height:7%;
}
.optionbar{
	position:relative;
	margin:0;
	width:80%;
	display: block;
	height: 70px;
	margin:auto;
	margin-left:15em;
	margin-top:1em;
	list-style-position: outside;
	list-style-type: none;

}
.optionbar>li{
	position:relative;
	width:8%;
	display: list-item;
	float:left;
	height: 70px;
	margin:0;
	text-align: center;
	color: #b8b8b8;
}
img{
	display: block;
	margin: auto;
	size: auto;
}
a{
	text-decoration: none;
	color: black;
	padding:0;
	margin:0;
}
.select_box{
	margin:5px 0 5px 0;
	width: 7em;
	height:2em;
}
.select_list{
	width: 93%;
	height: 30px; 
	padding-top:15px;
	padding-left:10px;
	text-align: left; 
	border: 1px solid #b8b8b8;
	border-right: none;
	border-left: none;
}
.TStopion_div{
	width:33%;
	height:23em;
	border: 1px solid #b8b8b8; 
	overflow: hidden;
}
.option_flo{
	float:left;
	border-radius: 1em;
	border:1px solid #5B5B5B;;
}
.col-2{
	width:49%;
	height:100%;
	float:left;
}
.col-4{
	width:24.5%;
	float:left;
}
.col-5{
	width:19%;
	float:left;
}
input[type=checkbox]{
	width:1.5em;
	height:1.5em;
	background-color:white;
	border: 3px solid #b8b8b8; 
}
label{
	vertical-align: top;
	margin-right: 1.5em;
	font-size: 1em;
    margin-top: 3px;
    display: inline-block;
}
.title_strong{
	text-align: right; 
	padding-right: 5%; 
	font-size: 2em; 
	margin-top: 6px;
}
.career_exper{
	border-color:#92a2f4;
	color: #6b80f1;
	display: inline-block;
    margin: 2px 4px 0 0;
    padding: 0 9px 0 8px;
    height: 20px;
    border: 1px solid #6b80f1;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
}
.career_exper_titles{
	display: inline-block;
    margin: 2px 4px 0 0;
    padding: 0 9px 0 8px;
    height: 20px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
}
.career_edu_title{
	display: block;
	padding-right: 20px;
    line-height: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.career_and_hope{
	display: block;
	padding-right: 20px;
    line-height: 13px;
    white-space: nowrap;
    text-overflow: ellipsis
}
.Occupation_table{
	border-collapse:collapse;
}
.Occupation_table td{
	width:50%;
	height:16.6666%;
	background:#f4f4f4;
	border:1px solid #b8b8b8;
}
.Occupation_table> tr{
	height:100%;
}
.Occupation_table_option{
	width:50%;
	height:14.28%;
}
.alldetail_table{
	height: 87.5%;
	width:79%;
	float:left;
}
.Occupation_table_option td{
	border-right:1px solid #b8b8b8;
	text-align: left;
	padding-left:20px;
	vertical-align: middle;
	padding-bottom: 5px;

}
.TSside{
	position:relative;
	margin-left:34px;
	float:left;
	width:15%;
	height:20em;
	
}
.TSside_title{
	text-align: center;
	border:1px solid #f4f4f4;
	width: 80%;
	margin:10%;
	height: 30px;
	padding-top: 10px;
	
}
.TSdetail table{
	border-collapse:collapse;	
}
.career_select{
	cursor:pointer;
}

.col-div-100-8{
	padding:0;
	margin:0;
	width:100%;
	height:8%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-10{
	padding:0;
	margin:0;
	width:100%;
	height:10%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-80{
	padding:0;
	margin:0;
	width:100%;
	height:80%;
	float:left;
	box-sizing: border-box;
}
.col-div-80{
	padding:0;
	margin:0;
	width:80%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-10-100{
	padding:0;
	margin:0;
	width:10%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-10-90{
	padding:0;
	margin:0;
	width:10%;
	height:90%;
	float:left;
	box-sizing: border-box;
}
.col-div-10-80{
	padding:0;
	margin:0;
	width:10%;
	height:80%;
	float:left;
	box-sizing: border-box;
}
.col-div-10-70{
	padding:0;
	margin:0;
	width:10%;
	height:70%;
	float:left;
	box-sizing: border-box;
}
.col-div-10-60{
	padding:0;
	margin:0;
	width:10%;
	height:60%;
	float:left;
	box-sizing: border-box;
}
.col-div-10-50{
	padding:0;
	margin:0;
	width:10%;
	height:50%;
	float:left;
	box-sizing: border-box;
}
.col-div-10-40{
	padding:0;
	margin:0;
	width:10%;
	height:40%;
	float:left;
	box-sizing: border-box;
}
.col-div-15-100{
	padding:0;
	margin:0;
	width:15%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-15-90{
	padding:0;
	margin:0;
	width:15%;
	height:90%;
	float:left;
	box-sizing: border-box;
}
.col-div-15-80{
	padding:0;
	margin:0;
	width:15%;
	height:80%;
	float:left;
	box-sizing: border-box;
}
.col-div-15-70{
	padding:0;
	margin:0;
	width:15%;
	height:70%;
	float:left;
	box-sizing: border-box;
}
.col-div-15-60{
	padding:0;
	margin:0;
	width:15%;
	height:60%;
	float:left;
	box-sizing: border-box;
}
.col-div-15-50{
	padding:0;
	margin:0;
	width:15%;
	height:50%;
	float:left;
	box-sizing: border-box;
}
.col-div-15-40{
	padding:0;
	margin:0;
	width:15%;
	height:40%;
	float:left;
	box-sizing: border-box;
}
.col-div-30{
	padding:0;
	margin:0;
	width:30%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-20-50{
	padding:0;
	margin:0;
	width:20%;
	height:50%;
	float:left;
	box-sizing: border-box;
}
.col-div-20-100{
	padding:0;
	margin:0;
	width:20%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-25-100{
	padding:0;
	margin:0;
	width:25%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-30-60{
	padding:0;
	margin:0;
	width:30%;
	height:60%;
	float:left;
	box-sizing: border-box;
}
.col-div-30-70{
	padding:0;
	margin:0;
	width:30%;
	height:70%;
	float:left;
	box-sizing: border-box;
}
.col-div-30-80{
	padding:0;
	margin:0;
	width:30%;
	height:80%;
	float:left;
	box-sizing: border-box;
}
.col-div-30-100{
	padding:0;
	margin:0;
	width:30%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-33-100{
	padding:0;
	margin:0;
	width:33.33333%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-35-80{
	padding:0;
	margin:0;
	width:35%;
	height:80%;
	float:left;
	box-sizing: border-box;
}
.col-div-50-50{
	padding:0;
	margin:0;
	width:50%;
	height:50%;
	float:left;
	box-sizing: border-box;
}
.col-div-50-100{
	padding:0;
	margin:0;
	width:50%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-65-80{
	padding:0;
	margin:0;
	width:65%;
	height:80%;
	float:left;
	box-sizing: border-box;
}
.col-div-70-100{
	padding:0;
	margin:0;
	width:70%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-80-15{
	padding:0;
	margin:0;
	width:80%;
	height:15%;
	float:left;
	box-sizing: border-box;
}
.col-div-80-20{
	padding:0;
	margin:0;
	width:80%;
	height:20%;
	float:left;
	box-sizing: border-box;
}
.col-div-80-100{
	padding:0;
	margin:0;
	width:80%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-10{
	padding:0;
	margin:0;
	width:100%;
	height:10%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-20{
	padding:0;
	margin:0;
	width:100%;
	height:20%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-30{
	padding:0;
	margin:0;
	width:100%;
	height:30%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-40{
	padding:0;
	margin:0;
	width:100%;
	height:40%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-50{
	padding:0;
	margin:0;
	width:100%;
	height:50%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-70{
	padding:0;
	margin:0;
	width:100%;
	height:70%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-80{
	padding:0;
	margin:0;
	width:100%;
	height:80%;
	float:left;
	box-sizing: border-box;
}
.col-div-90-90{
	padding:0;
	margin:0;
	width:90%;
	height:90%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-90{
	padding:0;
	margin:0;
	width:100%;
	height:90%;
	float:left;
	box-sizing: border-box;
}
.col-div-100-100{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-70{
	padding:0;
	margin:0;
	width:70%;
	height:100%;
	float:left;
	box-sizing: border-box;
}
.col-div-70-50{
	padding:0;
	margin:0;
	width:70%;
	height:50%;
	float:left;
	box-sizing: border-box;
}
.one-list{
	width:10em;
	height:3em;
	padding-left:0.5em;
	border-radius:0.5em;
	border:0.2em solid #b8b8b8;
	border-collapse : collapse;
	outline: none;
}
.one-text{
	width:20em;
	height:3em;
	border-radius:0.5em;
	border:0.1em solid #92a2f4;
	border-collapse : collapse;
}
.one-text-search{
	width:20em;
	height:3em;
	border-radius:0.5em;
	border:0.1em solid #5B5B5B;
	border-collapse : collapse;
}
.one-checkbox{
	width:1.5em;
	height:1.5em;
}
.one-button{
	width:6em;
	height:3em;
	display:inline-block; 
	vertical-align:middle; 
	border:2px solid #92a2f4; 
	border-radius:10px; 
	color:#92a2f4;
	background:white;
	cursor:pointer;
	font-weight: bold;
	outline: none;
}
.one-button-click{
	width:6em;
	height:3em;
	display:inline-block; 
	vertical-align:middle; 
	border:2px solid #92a2f4; 
	border-radius:10px;
	color:#92a2f4;
	background:#DFE8F9;
	cursor:pointer;
	font-weight: bold;
	outline: none;
}
.col-ul-50-10{
	display:inline-block;
	vertical-align:middle;
	width:50%;
	height:100%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-50-100{
	display:inline-block;
	vertical-align:middle;
	width:50%;
	height:100%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-10{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:10%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-20{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:20%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-30{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:30%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-40{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:40%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-50{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:50%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-60{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:60%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-70{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:70%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-80{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:80%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-90{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:90%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-100{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-30{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:30%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-ul-100-70{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:70%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-li-1{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:3em;
	padding:0;
	margin:0;
	border:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
	cursor: pointer;
}
.col-li-1-option{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}

.col-li-70{
	display:inline-block;
	vertical-align:middle;
	width:70%;
	height:3em;
	padding:0;
	margin:0;
	border:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	cursor: pointer;
}
.col-li-70-nb{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:4em;
	padding:0;
	margin:0;
	padding-left:3em;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-bottom:1px solid #b8b8b8;
	cursor: pointer;
	line-height: 4em;
}


.col-li-2{
	display:inline-block;
	vertical-align:middle;
	width:50%;
	height:3em;
	padding:0;
	margin:0;
	border:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
}
.col-li-for-occupation{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:3.45em;
	padding:0;
	margin:0;
	padding-left:1.5em;
	border:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
	background: #f4f4f4;
	border-bottom: none;
	cursor: pointer;
}
.col-li-for-sectors{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:3.45em;
	padding:0;
	margin:0;
	padding-left:1.5em;
	border:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	border-collapse : collapse;
	background: #f4f4f4;
	border-bottom: none;
	cursor: pointer;
}
.col-li-3{
	display:inline-block;
	vertical-align:middle;
	width:33%;
	height:3em;
	padding:0;
	margin:0;
	border:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
}
/* .col-li-3:nth-child(2),.col-li-3:nth-child(3),.col-li-3:nth-child(5),.col-li-3:nth-child(6),.col-li-3:nth-child(8),.col-li-3:nth-child(9){
	margin-left: -1px;
}
.col-li-3:nth-child(4),.col-li-3:nth-child(5),.col-li-3:nth-child(6),.col-li-3:nth-child(7),.col-li-3:nth-child(8),.col-li-3:nth-child(9){
	margin-top: -1px;
} */
.col-li-4{
	display:inline-block;
	vertical-align:middle;
	width:25%;
	height:3em;
	padding:0;
	margin:0;
	padding-left:2em;
	border:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
	cursor: pointer;
}
.col-li-4-nb{
	display:inline-block;
	vertical-align:middle;
	width:25%;
	height:3em;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
}
.col-li-1-nb{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	height:3em;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
}
.col-li-2-nb{
	display:inline-block;
	vertical-align:middle;
	width:50%;
	height:3em;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
}
.col-li-3-nb{
	display:inline-block;
	vertical-align:middle;
	width:33%;
	height:3em;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
}
.col-li-4-nb{
	display:inline-block;
	vertical-align:middle;
	width:25%;
	height:3em;
	padding:0;
	margin:0;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
}
.col-li-4-br{
	display:inline-block;
	vertical-align:middle;
	width:25%;
	height:3em;
	padding:0;
	margin:0;
	border-right:1px solid #b8b8b8;
	float:left;
	line-height: 3em;
	box-sizing: border-box;
}

.bt-none{
	border-top:none;
}
.bt-bb-none{
	border-top:none;
	border-bottom:none;
}
.bb-none{
	border-bottom:none;
}
.bt-br-none{
	border-top:none;
	border-right:none;
}
.bt-bl-none{
	border-top:none;
	border-left:none;
}
.bt-bl-br-none{
	border-top:none;
	border-right:none;
	border-left:none;
}
.bl-br-none{
	border-left:none;
	border-right:none;
}
.bt-bl-br-bb-none{
	border:none;
}
.div-maintitle{
	height:15%;
	font-size:1.5em;
}
.div-maintitle>*{
	line-height:37px;
	font-size:1.5em;
}
.div-li-padding a{
	padding-left:2em;
}
.strong{
	margin-right:1em;
	margin-left:1em;
}
.noChoose{
	background:#f4f4f4;
}
.select{
	border: 1px solid #5B5B5B;
	background-color: #D0D0D0;
	box-sizing: border-box;
}
.chbox-span{
    display: inline-block;
    height: 24px;
    line-height: 22px;
    font-size: 14px;
    vertical-align: super;
    letter-spacing: -1px;
    background-position: 0 -100px;
}
.side-manu{
	border:1px solid #b8b8b8; 
	margin-left:1.7em;
	margin-top:1em; 
	text-align: center;
}
.admin-container {
  margin-right: auto;
  margin-left: auto;
  width:1400px;
  height:800px;
  background: #F4F4F4;
}
.side-li>li{
	padding:3px;
}
.col-li-1-nb:nth-child(2n+1){
	background:#F4F4F4;
	padding-left:1em;
}
.Side-select{
}
.col-li-1-option{
	background: #FBFFFF;
}
.main-stati{
	position: relative;
	display: inline-block;
	width: 23%;
	height: 90%;
	margin:10px;
	float: left;
	box-sizing: border-box;
	background:#FBFFFF;
	box-shadow: 2px 2px 2px #b8b8b8;
	border-radius: 12px 12px 0 0;
}
.statics{
	box-shadow: 2px 2px 2px #b8b8b8;
}
.newsform{
	border-collapse: collapse;
}
.newsform th, .newsform td{
	border: 1px solid #b8b8b8;
	
}
.newsform td{
	padding-left:2em;
}
.newsform th:nth-child(1+1n), .newsform td:nth-child(1n+1){
	background:#D0E8FF;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}
.openNavbutton span:hover{
	color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 14px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.divMainbox{
	border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#1a000000',GradientType=0);
}
.divMainbox-title{
	font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}
h2{
	display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
}

/* 모달관련 css */
.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
}

#modalLayer {
	display: none;
	position: absolute;
	left: 50%;
	top: 40%;
}

#modalLayer .modalContent {
	width: 400px;
	height:800px;
	padding: 5px;
	border: 1px solid #ccc;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-25%);
	z-index: 20;
	border-radius: 10px;
	background: #FDFDFD;
}

#modalLayer .modalContent button {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.bgLayer {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
	z-index: 10;
}

/*채팅관련 css*/
.chatInnerDiv{
	display: block;
	width:100%;
	margin-top:1em;
	margin-bottom:1em;
	padding:7px;
	border-bottom:1px solid #b8b8b8;
	float:left;
}
.chatInnerDiv>h2{
	padding-right:0.7em;
}
.chatInnerTitle{
	box-sizing: border-box;
	float:left;
}
.chatInnerTitle img, .chatInnerTitle h2{
	float:left;
	width: 4em;
    margin: 0;
}
.chatInnerTitle h2{
	margin-top:0.2em;
}
.chatInnerContent{
	letter-spacing: 0.2px;
	float:left;
}
.Mycontent{
	text-align: right;
}
.AdminLoginContainer{
	position: absolute;
	width: 800px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:2px solid #b8b8b8;
    border-radius: 8px;
    background: white;
    
}
.adMinLoginfrm{
	padding: 0;
	margin: 0;
}
.one-text{
	width:20em;
	height:3em;
	border-radius:0.5em;
	border:0.1em solid #92a2f4;
	border-collapse : collapse;
}
.one-button{
	width:10em;
	height:3em;
	display:inline-block; 
	vertical-align:middle; 
	border:2px solid #92a2f4; 
	border-radius:10px; 
	color:#92a2f4;
	background:white;
	cursor:pointer;
	font-weight: bold;
	outline: none;
}
.one-button-click{
	width:6em;
	height:3em;
	display:inline-block; 
	vertical-align:middle; 
	border:2px solid #92a2f4; 
	border-radius:10px;
	color:#92a2f4;
	background:#DFE8F9;
	cursor:pointer;
	font-weight: bold;
	outline: none;
}
.main-stati span, .main-stati strong{
	font-size: 12px;
}

.analy_box{
	position: relative;
	display: inline-block;
	width:263px; 
	height:132px;
	margin:10px;
	float: left;
	box-sizing: border-box;
	background:#FBFFFF;
	box-shadow: 2px 2px 2px #b8b8b8;
	border-radius: 12px 12px 0 0;
}
.analy_box_big{
	position: relative;
	display: inline-block;
	width:515px; 
	height:515px;
	margin:10px;
	float: left;
	box-sizing: border-box;
	background:#FBFFFF;
	box-shadow: 2px 2px 2px #b8b8b8;
	border-radius: 12px 12px 0 0;
}